.container{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.box{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
}

